
<p class="pb-3 carouselTitle">Countries Open for Travel</p>
<owl-carousel-o [options]="customOptions" class="mt-5">
    <ng-template carouselSlide>
      <div class="slide">
        <img src="/assets/images/221.png" alt="img 1">
        <div class="heading">
          <h3>Dubai</h3>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="/assets/images/261.png" alt="img 2">
        <div class="heading">
          <h3>United Kingdom</h3>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="/assets/images/271.png" alt="img 3">
        <div class="heading">
          <h3>USA</h3>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="/assets/images/301.png" alt="img 4">
        <div class="heading">
          <h3>Dubai</h3>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="/assets/images/311.png" alt="img 5">
        <div class="heading">
          <h3>Amsterdam</h3>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="/assets/images/271.png" alt="img 6">
        <div class="heading">
          <h3>Dubai</h3>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
