
<section *ngIf="currentFooter === 'footer1' && isSpinner == false" class="footerColor footer1 ">
  <div class="centerImage">
    <img src="/assets/images/bg1.png" alt="" />
  </div>
  <footer>
    <div class="footer-logos-logo mob-hide pt-5">
      <!-- <object
        data="/assets/images/logo.svg"
        type="image/svg+xml"
      ></object> -->
      
    </div>
    <div class="footer pt-4">
      <div class="container">
        <i class="icon-white-logo"></i>
        <div class="d-flex justify-content-between pt-4 container row">
          <div class="footer-column col-6 col-lg-2">
            <h4>Top Cities</h4>
            <ul>
              <li><a href="#">Flights to London</a></li>
              <li><a href="#">Flights to Dubai</a></li>
              <li><a href="#">Flights to New York</a></li>
              <li><a href="#">Flights to Delhi</a></li>
              <li><a href="#">Flights to Lagos</a></li>
              <li><a href="#">Flights to Cape Town</a></li>
              <li><a href="#">Flights to Mumbai</a></li>
              <br />
              <li class="wad-ipad-footer1">
                <strong class="links">All Cities >></strong>
              </li>
            </ul>
          </div>
          <div class="footer-column col-6 col-lg-2">
            <h4>Top Airlines</h4>
            <ul>
              <li><a href="#">British Airways</a></li>
              <li><a href="#">South African Airways</a></li>
              <li><a href="#">Turkish Airlines</a></li>
              <li><a href="#">Kenya Airways</a></li>
              <li><a href="#">Delta Airlines</a></li>
              <li><a href="#">Emirates</a></li>
              <li><a href="#">Ethiopian Airlines</a></li>
              <br />
              <li class="wad-ipad-footer2">
               <strong class="links"> All Airlines >></strong>
              </li>
            </ul>
          </div>
          <div class="footer-column col-6 col-lg-2">
            <h4>Top Domestic</h4>
            <ul>
              <li><a href="#">Cape Town Flights</a></li>
              <li><a href="#">Johannesburg Flights</a></li>
              <li><a href="#">Port Elizabeth Flights</a></li>
              <li><a href="#">Durban Flights</a></li>
              <li><a href="#">George Flights</a></li>
              <li><a href="#">East London Flights</a></li>
              <li><a href="#">Cape Town Flights</a></li>
              <br />
              <li class="wad-ipad-footer3">
               <strong class="links">All Domestic Flights >></strong> 
              </li>
            </ul>
          </div>
          <div class="footer-column col-6 col-lg-2">
            <h4>Top Int'l Flights</h4>
            <ul>
              <li><a href="#">London Flights </a></li>
              <li><a href="#">New York Flights </a></li>
              <li><a href="#">Abu Dhabi Flights </a></li>
              <li><a href="#">Amsterdam Flights </a></li>
              <li><a href="#">Lagos Flights </a></li>
              <li><a href="#">Nairobi Flights </a></li>
              <li><a href="#">Accra Flights </a></li>
              <br />
              <li class="wad-ipad-footer4">
                <strong class="links">All Int'l Flights>></strong>
              </li>
            </ul>
          </div>
          <div class="footer-column col-6 col-lg-2">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About Wadiia</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Help & Support</a></li>
              <li><a href="#">Contact</a></li>
              <br />
              <li class="wad-ipad-footer5">
                <strong class="links">Site Map >></strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-5">
      <div class="row">
        <div class="footer-column col-md-3">
          <h4>Why Wadiia ?</h4>
          <p>
            Wadiia is Africa's most trusted travel brand, connecting Africans to
            beautiful places in the world. We have a wealth of travel experience
            and have earned a reputation as industry experts and specialists.
            Wadiia was founded on the premise of expanding travel possibilities
            for Africans, with attention, care, and support that goes above and
            beyond their expectations. We believe your travel needs are
            one-of-a-kind, and we aim to make travel more affordable and
            accessible for you. Ready to start planning your trip? We are ready
            to serve you!
          </p>
        </div>
        <div class="col-md"></div>
        <div class="footer-column col-md-3">
          <h4>Book Your Flights With Wadiia</h4>
          <p>
            Even though we don't fly planes, we know that how you plan your
            vacation has a significant impact on your whole travel experience.
            That's why we invested in technology and secured the best flight
            rates and deals with over +400 airlines across the world. With our
            seamless flight booking tool, you can search and compare flights
            with major airlines to many destinations to find the perfect choice
            for your trip. Are you planning your next trip? Book your cheap
            flights with Wadiia today!
          </p>
        </div>
        <div class="col-md"></div>
        <div class="footer-column col-md-3">
          <h4>Explore A Journey Around The World With Wadiia</h4>
          <p>
            Are you planning your vacation and don't know where to start? You've
            got Wadiia. We create beautiful travel experiences that will impact
            the way you perceive the world as you journey around. We provide a
            diverse choice of activities, experiences, and tours to some of the
            world's most exciting destinations. We love to travel at Wadiia, and
            our passion is to delight Africans who love to travel by creating
            the most remarkable travel journeys for them. The world is waiting
            for you; travel with Wadiia today!
          </p>
        </div>
      </div>
      <hr class="hrLine" />
    </div>
    <div class="container footer-subscribe pb-5">
      <div class="row">
        <div class="col-md-4">
          <div class="social-media">
            <i class="icon-facebook-square"></i>
            <i class="icon-twitter-square"></i>
            <i class="icon-linkedin"></i>
            <i class="icon-instagram-square"></i>
            <i class="icon-youtube-2"></i>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Save more on your next trip with our great deals</h3>
          <p>
            Sign up now to our newsletter for all the latest deals, exclusive
            offers on flights and more to top destinations worldwide. You don't
            want to miss out!
          </p>
        </div>
        <div class="col-md-4">
          <form
            class="subscribebox"
            [formGroup]="subscriptionForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="d-flex">
              <input
                class="form-control-sm m-1"
                placeholder="First Name"
                type="text"
                formControlName="firstname"
                appAlphabetOnly
              />
              <input
                class="form-control-sm m-1"
                placeholder="Last Name"
                type="text"
                formControlName="lastname"
                appAlphabetOnly
              />
            </div>
            <div class="p-1">
              <input
                class="form-control-sm"
                type="text"
                formControlName="email"
                placeholder="Enter your email address"
              />
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-danger subscr-btn" type="submit">
                Subscribe Now
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>
</section>
  

<section  *ngIf="currentFooter === 'footer2' && isSpinner == false" class="footer2">
  <div class="container">
    <hr>
    <div class="d-flex justify-content-between pb-3 footerMobile">
      <p><i class="icon-white-logo"></i></p>
      <p class="copyright">©Copyright 2022 Wadiia. All Right Reserved </p>
    </div>
  </div>
</section>
