<mat-card class="single-card mt-3">
    <div class="upper-card-shadow">
        <div class="d-flex justify-content-between cancelledCDiv">
            <div>
                <p class="flight-heading">
                    <span>London</span> 
                    <span><i class="icon-arrowStroke"></i></span> 
                    <span>Bangkok</span> 
                    
                </p>
                <p>
                    <span class="trip-type"> Round Trip Flight  | </span>
                    <span class="booking-id">Booking ID - WA8734687</span> 
                </p>
            </div>
            <div style="display: flex;">
                <div class="total-pay">
                    <p>Total Paid </p>
                    <p>Refund</p>
                </div>
                <div style="margin-left:6px" class="cancel-price">
                    <p>KES 2600 </p>
                    <p>KES 2600</p>
                </div>
                <div style="margin-left:8px">
                    <button mat-raised-button color="primary" class="initiated-btn" (click)="openRefundPopup()">INITIATED</button>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-card-shadow">
        <p class="pt-3">
            <span class="depart-flight">DEPARTURE FLIGHT &nbsp;-Sat,28 Mar </span>
        </p>
        <div class="d-flex justify-content-between cancelledCDiv">
            <div class="innerDiv1">
                <div>
                    <div>
                        <span class="depart-date">28 Mar ‘22</span>
                        <span class="depart-time">11:00 PM</span>
                    </div>
                    <div class="depart-flname">LHR - LONDON</div>
                </div>
                <div>
                    <div>
                        <span class="depart-date">28 Mar ‘22</span>
                        <span class="depart-time">04:40 AM</span>
                    </div>
                    <div class="depart-flname">BKK -  BANGKOK</div>
                </div>
            </div>
            <div class="innerDiv2">
                <div class="innerBox">
                    <div>
                        <span class=""><i class="icon-flight iconSize12"></i></span>
                        <span class="fl-name">JET BLUE</span>
                    </div>
                    <div class="pt-2">
                        <span class=""><i class="icon-group iconSize12"></i></span>
                        <span class="fl-name">Suraj + 2</span>
                    </div>
                </div>
                <div>
                    <img src="/assets/airlineLogos/Rectangular/2U.png" width="120px" height="39px" alt="">
                </div>
            </div>
        </div>
        <p style="padding-top: 26px;">
            <span class="depart-flight">RETURN FLIGHT &nbsp;-Sat,28 Mar </span>&nbsp;
        </p>
        <div class="d-flex justify-content-between cancelledCDiv">
            <div class="innerDiv1">
                <div>
                    <div>
                        <span class="depart-date">28 Mar ‘22</span>
                        <span class="depart-time">11:00 PM</span>
                    </div>
                    <div class="depart-flname">LHR - LONDON</div>
                </div>
                <div>
                    <div>
                        <span class="depart-date">28 Mar ‘22</span>
                        <span class="depart-time">04:40 AM</span>
                    </div>
                    <div class="depart-flname">BKK -  BANGKOK</div>
                </div>
            </div>
            <div class="innerDiv2">
                <div class="innerBox">
                    <div>
                        <span class=""><i class="icon-flight iconSize12"></i></span>
                        <span class="fl-name">JET BLUE</span>
                    </div>
                    <div class="pt-2">
                        <span class=""><i class="icon-group iconSize12"></i></span>
                        <span class="fl-name">Suraj + 2</span>
                    </div>
                </div>
                <div>
                    <img src="/assets/airlineLogos/Rectangular/2U.png" width="120px" height="39px" alt="">
                </div>
            </div>
        </div>
        <p class="cancellation-note">Your booking has been canelled on  26 Mar ‘22</p>
    </div>
</mat-card>

<mat-card class="single-card mt-3">
    <div class="upper-card-shadow">
        <div class="d-flex justify-content-between cancelledCDiv">
            <div>
                <p class="flight-heading">
                    <span>London</span> 
                    <span><i class="icon-arrowStroke"></i></span> 
                    <span>Bangkok</span> 
                    
                </p>
                <p>
                    <span class="trip-type"> Round Trip Flight  | </span>
                    <span class="booking-id">Booking ID - WA8734687</span> 
                </p>
            </div>
            <div style="display: flex;">
                <div class="total-pay">
                    <p>Total Paid </p>
                    <p>Refund</p>
                </div>
                <div style="margin-left:6px" class="cancel-price">
                    <p>KES 2600 </p>
                    <p>KES 2600</p>
                </div>
                <div style="margin-left:8px">
                    <button mat-raised-button color="primary" class="initiated-btn" (click)="openRefundPopup()">INITIATED</button>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-card-shadow">
        <p class="pt-3">
            <span class="depart-flight">DEPARTURE FLIGHT &nbsp;-Sat,28 Mar </span>
        </p>
        <div class="d-flex justify-content-between cancelledCDiv">
            <div class="innerDiv1">
                <div>
                    <div>
                        <span class="depart-date">28 Mar ‘22</span>
                        <span class="depart-time">11:00 PM</span>
                    </div>
                    <div class="depart-flname">LHR - LONDON</div>
                </div>
                <div>
                    <div>
                        <span class="depart-date">28 Mar ‘22</span>
                        <span class="depart-time">04:40 AM</span>
                    </div>
                    <div class="depart-flname">BKK -  BANGKOK</div>
                </div>
            </div>
            <div class="innerDiv2">
                <div class="innerBox">
                    <div>
                        <span class=""><i class="icon-flight iconSize12"></i></span>
                        <span class="fl-name">JET BLUE</span>
                    </div>
                    <div class="pt-2">
                        <span class=""><i class="icon-group iconSize12"></i></span>
                        <span class="fl-name">Suraj + 2</span>
                    </div>
                </div>
                <div>
                    <img src="/assets/airlineLogos/Rectangular/2U.png" width="120px" height="39px" alt="">
                </div>
            </div>
        </div>
        
        <p class="cancellation-note">Your booking has been canelled on  26 Mar ‘22</p>
    </div>
</mat-card>

<mat-card class="single-card mt-3">
    <div class="upper-card-shadow">
        <div class="d-flex justify-content-between cancelledCDiv">
            <div>
                <p class="flight-heading">
                    <span>London</span> 
                    <span><i class="icon-arrowStroke"></i></span> 
                    <span>Bangkok</span> 
                    
                </p>
                <p>
                    <span class="trip-type"> Round Trip Flight  | </span>
                    <span class="booking-id">Booking ID - WA8734687</span> 
                </p>
            </div>
            <div style="display: flex;">
                <div class="total-pay">
                    <p>Total Paid </p>
                    <p>Refund</p>
                </div>
                <div style="margin-left:6px" class="cancel-price">
                    <p>KES 2600 </p>
                    <p>KES 2600</p>
                </div>
                <div style="margin-left:8px">
                    <button mat-raised-button color="primary" class="initiated-btn" (click)="openRefundPopup()">INITIATED</button>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-card-shadow">
        <p class="pt-3">
            <span class="depart-flight">DEPARTURE FLIGHT &nbsp;-Sat,28 Mar </span>
        </p>
        <div class="d-flex justify-content-between cancelledCDiv">
            <div class="innerDiv1">
                <div>
                    <div>
                        <span class="depart-date">28 Mar ‘22</span>
                        <span class="depart-time">11:00 PM</span>
                    </div>
                    <div class="depart-flname">LHR - LONDON</div>
                </div>
                <div>
                    <div>
                        <span class="depart-date">28 Mar ‘22</span>
                        <span class="depart-time">04:40 AM</span>
                    </div>
                    <div class="depart-flname">BKK -  BANGKOK</div>
                </div>
            </div>
            <div class="innerDiv2">
                <div class="innerBox">
                    <div>
                        <span class=""><i class="icon-flight iconSize12"></i></span>
                        <span class="fl-name">JET BLUE</span>
                    </div>
                    <div class="pt-2">
                        <span class=""><i class="icon-group iconSize12"></i></span>
                        <span class="fl-name">Suraj + 2</span>
                    </div>
                </div>
                <div>
                    <img src="/assets/airlineLogos/Rectangular/2U.png" width="120px" height="39px" alt="">
                </div>
            </div>
        </div>
        <p style="padding-top: 26px;">
            <span class="depart-flight">RETURN FLIGHT &nbsp;-Sat,28 Mar </span>&nbsp;
        </p>
        <div class="d-flex justify-content-between cancelledCDiv">
            <div class="innerDiv1">
                <div>
                    <div>
                        <span class="depart-date">28 Mar ‘22</span>
                        <span class="depart-time">11:00 PM</span>
                    </div>
                    <div class="depart-flname">LHR - LONDON</div>
                </div>
                <div>
                    <div>
                        <span class="depart-date">28 Mar ‘22</span>
                        <span class="depart-time">04:40 AM</span>
                    </div>
                    <div class="depart-flname">BKK -  BANGKOK</div>
                </div>
            </div>
            <div class="innerDiv2">
                <div class="innerBox">
                    <div>
                        <span class=""><i class="icon-flight iconSize12"></i></span>
                        <span class="fl-name">JET BLUE</span>
                    </div>
                    <div class="pt-2">
                        <span class=""><i class="icon-group iconSize12"></i></span>
                        <span class="fl-name">Suraj + 2</span>
                    </div>
                </div>
                <div>
                    <img src="/assets/airlineLogos/Rectangular/2U.png" width="120px" height="39px" alt="">
                </div>
            </div>
        </div>
        <p class="cancellation-note">Your booking has been canelled on  26 Mar ‘22</p>
    </div>
</mat-card>