<div style="background-color: #ffffff;">
    <section class="main-section">
        <div class="container main-container">
            <mat-card class="main-card">
                <div class="d-flex justify-content-between first-row">
                    <span class="track-refund">Track Refund Status</span>
                    <span class="back-to-trip"><a href="javascript:void(0)">Back to My Trip</a></span>
                </div>
                <div class="second-row row">
                    <div class="col-3 remove-space">
                        <p class="pre-book-text remove-margin">Pre/Booking Referance</p>
                        <p class="manage-top-space">
                            <span class="booking-id">WA27183</span>
                            <button class="cancelled-btn">CANCELLED</button>
                        </p>
                    </div>
                    <div class="col-3">
                        <p class="pre-book-text remove-margin">Payment Status </p>
                        <p class="manage-top-space">
                            <span class="booking-id">Processing </span>
                        </p>
                    </div>
                    <div class="col-3">
                        <p class="pre-book-text remove-margin">Total refund Amount</p>
                        <p class="manage-top-space">
                            <span class="price">KES 2600 </span>
                            <button class="process-btn">PROCESSING</button>
                        </p>
                    </div>
                </div>
                <div class="summary">
                    <p class="refund-summary">Refund Summary </p>
                    <p class="refund-amount">Refund amount will be credited to original payment method </p>
                </div>
                <div class="booked-info">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="booked-date">Booked on 22-Mar-2021</div>
                        <div>
                            <span class="amt-refnd">Refund AMOUNT </span>
                            <span class="price">KES 2600 </span>
                            <button class="process-btn">PROCESSING</button>
                        </div>
                    </div>
                </div>
                <div class="pay-mode pb-5">
                    <p class="payment-mode">Payment Mode - VISA</p>
                    <p class="transaction-date">Transaction Date  - 22-Mar-2021</p>
                    <div class="pay-step mb-5 d-flex justify-content-between">
                        <div class="first-step">
                            <span><i class="icon-check"></i></span>
                            <span class="initiated">Initiated </span>
                            <div class="divider"> </div>
                            <p class="initiated-refund">Refund  has been initated by</p>
                        </div>
                        <div class="second-step">
                            <span class="active-step">2</span>
                            <span class="processing">Processing  </span>
                            <div class="divider1"> </div>
                            <p class="process-refund">The refund is being processd by Wadiia.</p>
                        </div>
                        <div class="third-step">
                            <span class="next-step">3</span>
                            <span class="initiated">Refund Confirmed  </span>
                            <p class="initiated-refund">The refund has been completed</p>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </section>
</div>
