<form class="example-form" [formGroup]="user_form" (ngSubmit)="onSubmit()">
  <span class="forgot-text">Reset Password</span>
  <div class="inpt-group">
    <div class="flight">
      <mat-form-field class="flight example-full-width" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput aria-label="State" formControlName="email" />
      </mat-form-field>
      <p
        style="color: red; font-size: 12px; text-align: left"
        *ngIf="userEmail && userEmail.invalid && userEmail.touched"
      >
        Invalid email id
      </p>
    </div>
    <div class="flight">
      <mat-form-field class="flight example-full-width" appearance="outline">
        <mat-label>Old Password</mat-label>
        <input
          matInput
          type="password"
          aria-label="State"
          formControlName="current_password"
        />
      </mat-form-field>
      <p
        *ngIf="
          user_form.value.current_password.length > 3 &&
          user_form.value.current_password.length < 6
        "
        style="color: red; font-size: 10px"
      >
        Password length must be greater than or equal 6.
      </p>
    </div>
    <div class="flight">
      <mat-form-field class="flight example-full-width" appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          matInput
          type="password"
          aria-label="State"
          formControlName="newPassword"
        />
      </mat-form-field>
      <p
        *ngIf="
          user_form.value.newPassword.length > 3 &&
          user_form.value.newPassword.length < 6
        "
        style="color: red; font-size: 10px"
      >
        Password length must be greater than or equal 6.
      </p>
    </div>
    <div class="flight">
      <mat-form-field class="flight example-full-width" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          aria-label="State"
          formControlName="confirmPassword"
          (keydown)="onConfirmPassword()"
          min="6"
        />
      </mat-form-field>
      <p
        *ngIf="user_form.value.confirmPassword.length > 3 && !passMatch"
        style="color: red; font-size: 10px"
      >
        Password doesn't match
      </p>
    </div>
  </div>

  <button mat-raised-button class="reset-btn">
    <span class="send-code-btn">
      <i _ngcontent-dow-c269="" class="icon-user-plus"></i>
      <span>RESET PASSWORD</span>
    </span>
  </button>
</form>
