<form
  class="example-form"
  [formGroup]="forgot_password_form"
  (ngSubmit)="onSubmit()"
>
  <span class="forgot-text">Forgot Password?</span>
  <div class="email-associated">
    <p>
      Enter the email associated with your account and we'll send an email with
      the code to reset your password.
    </p>
  </div>

  <div class="flight">
    <mat-form-field class="example-full-width pt-5" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        aria-label="firstName"
      />
    </mat-form-field>
    <p
      style="color: red; font-size: 12px; text-align: left"
      *ngIf="forgot_password_form && forgot_password_form.invalid && forgot_password_form.touched"
    >
      Invalid email id
    </p>
  </div>

  <button mat-raised-button class="mt-4" type="submit">
    <span class="send-code-btn">
      <i class="icon-user-plus"></i>
      <span>SEND CODE</span>
    </span>
  </button>
</form>
